{% extends "main.html" %}
{% load static %}
{% block article%}
<div class="row large-offset-2">
	<h1>{{article.title}}</h1>
	<p>{{article.text}}</p>
    <p>{{username}}</p>
	<h5>date: {{article.date}}</h5>
	<hr>
    <div class="row large-offset-1">
	<p>Комментарии:</p>
	{% for comment in comments%}
		<p>{{comment.comment_text}}</p>
        {{ comment.date }}
        {{ comment.author }}
		<hr>
	{% endfor %}
    </div>

	<form action = "/article/addcomment/{{article.id}}" method = "post">
		{% csrf_token %}
		{{form}}
		<input type = "submit" class = "button" value = "Добавить">		
	</form>
</div>
	
{% endblock %}
