{% extends "main.html" %}

{% block info %}
	<div class = "large-offset-10 large-3 columns">
		<form action = "/auth/login/" method = "post">
			{% csrf_token %}
			<label for = "username">Имя</label>
			<input type = "text" name = "username" id = "username">
			<label for = "password">Пароль</label>
			<input type = "password" name = "password" id = "password">
			{% if login_error %}
				<label class = "error">{{login_error}}</label>
			{% endif %}
			<input class = "button" type = "submit" value = "Войти">
			<a href = "/auth/registration/" class = "button">Регистрация</a>
		</form>
	</div>
{% endblock %}


